
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<!DOCTYPE Html>

<html>
<head>


    <title> Our Test</title>
    <link href="~/Content/HelloWorld.css" rel=" stylesheet">
</head>
<body>
    <h2>Hello World!!!!!</h2>
    <img src="~/Images/baloon.jpg"/>


<a href="@Url.Action("Goodbye", "Home")">Goto goodbye page</a>

</body>
</html>